<!DOCTYPE html>
<html>

<head>
  <title>Loop Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The best and only site for tracking user statistics on loop.lol!">
  <meta name="keywords" content="Loop, Followers, Vine, Statistics track, Statistics, Track, loop.lol!">
  <meta name="author" content="@ok_aj">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="theme-color" content="#141414">
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/compare_search.css">
  <meta property="og:title" content="Loop Tracker">
  <meta property="og:description" content="The best and only site for tracking user statistics on loop.lol!">
  <meta property="og:image" content="/images/favicon.ico">
  <meta property="og:url" content="https://loop.mgcounts.com">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Loop Tracker">
</head>

<body>
  <%- include('partials/navbar') %>
    <center>
      <button id="compareButton">Compare Users!</button>
      <div class="main">
        <div class="side1">
          <div class="search">
            <input placeholder="Search for a user!" type="text" id="searchBar1" autocomplete="off"
              aria-autocomplete="none">
            <br><br><button id="searchButton1">Search!</button>
          </div>
          <div class="results" id="results1"></div>
          <div class="error" id="error1"></div>
          <div class="loader" id="loading1"></div><br>
        </div>
        <div class="side2">
          <div class="search">
            <input placeholder="Search for a user!" type="text" id="searchBar2" autocomplete="off" aria-autocomplete="none">
            <br><br><button id="searchButton2">Search!</button>
          </div>
          <div class="results" id="results2"></div>
          <div class="error" id="error2"></div>
          <div class="loader" id="loading2"></div><br>
        </div>
      </div>
      <script src="/js/moment.js"></script>
      <script src="/js/compare_search.js"></script>
</body>

</html>