<!DOCTYPE html>
<html>

<head>
  <title>Loop Tracker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The best and only site for tracking user statistics on loop.lol!">
  <meta name="keywords" content="Loop, Followers, Vine, Statistics track, Statistics, Track, loop.lol!">
  <meta name="author" content="@ok_aj">
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow">
  <meta name="theme-color" content="#141414">
  <link rel="icon" type="image/png" href="/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
  <%- include('partials/navbar') %>
    <center>
      <h1 id="title">uh oh...</h1>
      <h3>It appears that the page you're looking for does not exist!</h3>
      <p>Check the URL and try again!</p>
      <a href="/">Go back to the homepage</a>
    </center>
</body>

</html>