<!DOCTYPE html>
<html>

<%- include('partials/meta', {url: url}) %>

<body>
  <%- include('partials/navbar') %>
    <center>
      <h1 id="title">uh oh...</h1>
      <h3>It appears that the page you're looking for does not exist!</h3>
      <p>Check the URL and try again!</p>
      <a href="/">Go back to the homepage</a>
    </center>
</body>

</html>