body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0px;
    color: #FFF;
}

.date-post {
    margin-top: 0.25rem;
    font-size: 1rem;
}

#title {
    font-size: 5rem;
    text-align: center;
    margin-top: 1rem;
    color: #46e4a2;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: -1rem;
    color: #FFF;
}

#search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

input {
    width: 50%;
    height: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #4b4a44;
}

button {
    height: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: #141414;
    cursor: pointer;
    width: 5rem;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

::placeholder,
input,
button {
    font-weight: bold;
    color: #4b4a4a;
}

button {
    background-color: #46e4a2;
    color: #FFF;
}

code {
    color: #46e4a2;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    padding: 2rem;
    width: 100%;
}

.profile_picture {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: solid #ccc 2px;
    margin-top: 1rem;
}

.result:hover {
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
}

.result:hover img {
    border: solid #46e4a2 2px;
}

.card img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: solid #ccc 2px;
    margin-top: 1rem;
}

.card:hover {
    border: solid #46e4a2 2px;
    cursor: pointer;
}

.card:hover img {
    border: solid #46e4a2 2px;
}

select {
    height: 3rem;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    color: #FFF;
    background-color: #333;
}

.handle {
    color: #46e4a2;
}

.avatar {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    border: solid #ccc 2px;
    margin-top: 1rem;
}

.thumbnail {
    width: 7rem !important;
    height: 9rem !important;
    border-radius: 5% !important;
    margin: 0 auto;
    display: block;
    border: solid #ccc 2px;
    margin-top: 0.5rem;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.result {
    width: 21rem;
    height: 19rem;
    position: relative;
    cursor: pointer;
    border-radius: 0rem;
}

.background-image {
    background-color: #242525;
    padding: 1rem;
    border-radius: 0.1rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0.1rem;
    z-index: 10;
}

.overlay:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.overlay-label {
    z-index: 10;
    position: relative;
}

div.overlay>h1 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.overlay>hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.overlay>h2 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding: 0;
    font-size: 0.9rem;
}

.overlay>h3 {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overlay>h6 {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.overlay>h4 {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 0;
    font-weight: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.overlay>h5 {
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    padding: 0;
    font-size: 1rem;
}

.profile-picture {
    width: 8rem;
    height: 8rem;
    border-radius: 1%;
    margin: 0 auto;
    display: block;
    margin-top: 1rem;
}

.result:hover {
    border: solid #46e4a2 2px;
}

@media screen and (max-width: 600px) {
    #results {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .result {
        width: 100%;
    }

    .card {
        width: 40vw;
        padding: 1rem;
        text-align: center;
    }

    .post {
        width: 100%;
    }
}